html,
body {
	min-height: 100vh;
}

body {
	background-color: #e4e5e7;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.aside {
	height: 400px;
}
.main {
	height: 400px;
}
.d-flex {
	display: flex;
}
.task-title {
	font-weight: 400;
	padding-top: 5px;
}
.gray {
	color: #bdbdbd;
}
.task-title--done {
	text-decoration: line-through;
	color: #cdcdcd;
}
.task-item__buttons {
	display: flex;
	column-gap: 5px;
}
.notify-holder {
	height: 60px;
	margin-bottom: 20px;
}
.empty-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.empty-list__title {
	font-size: 28px;
	margin-bottom: 15px;
	font-weight: 300;
}
.empty-list__icon {
	color: #42be2a;
	font-size: 32px;
}
.btn-action {
	background-color: #e0e5ea;
	padding: 8px 10px;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	transition: opacity 0.2s ease-in;
	opacity: 0.5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-action:hover {
	background-color: #e0e5ea;
	opacity: 1;
}

.btn-action img {
	pointer-events: none;
}

.none {
	display: none !important;
}

.float-right {
	float: right;
}
.copyright {
	margin: 40px 0;
	font-size: 14px;
	color: gray;
	text-align: center;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.copyright__item {
	margin-top: 2rem;
}

.display-4 {
	text-align: center;
}

.mb--5 {
	margin-bottom: 1rem;
}

.social {
	display: flex;
	justify-content: center;
}

.social_item {
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 2px solid gray;

	font-size: 35px;
	color: gray;

	text-decoration: none;
	transition: background, transform 0.2s linear;
}

.social_item:last-child {
	margin-right: 0;
}

.social_item:hover {
	transform: translateY(-5px);
	background-color: rgba(31, 29, 29, 0.089);
	color: gray;
	text-decoration: none;
}

.fa-heart--red {
	color: red;
}


.disabled {
  pointer-events: none;
}